:root {
  --white: #fff;
  --gray-01: #a4adac;
  --gray-02: #d6dbdb;
  --gray-03: #e8edee;
  --gray-04: #f2f6f6;
  --black: #1d1d1b;
  --orange: #ff5900;
  --dark-orange: #e0570e;
  --error: #ff4026;

  // Desktop
  --desktop-h1: 80px;
  --desktop-h2: 32px;
  --desktop-h3: 24px;
  --desktop-regular1: 22px;
  --desktop-regular2: 18px;
  --desktop-regular3: 14px;

  // Tablet
  --tablet-h1: 52px;
  --tablet-h2: 28px;
  --tablet-h3: 16px;
  --tablet-regular1: 14px;
  --tablet-regular2: 12px;

  // Mobile
  --mobile-h1: 36px;
  --mobile-h2: 24px;
  --mobile-h3: 20px;
  --mobile-regular1: 16px;
  --mobile-regular2: 14px;

  // Overall
  --button-text: 14px;
}
