.heading {
  &_1 {
    font-size: var(--desktop-h1);
    line-height: 110%;
    letter-spacing: -3.2px;
    font-weight: 700;
  }

  &_2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  // &_3 {
  //   /* h3 */
  //   font-size: 1.7rem;
  //   font-weight: 400;
  //   line-height: normal;
  // }
}

.text {
  /* Heading4 */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .heading {
    &_1 {
      font-size: 2.375rem;
    }

    &_2 {
      font-size: 1.25rem;
    }

    // &_3 {
    //   font-size: 1.25rem;
    // }
  }

  .text {
    font-size: 14px;
  }
}
